body {
    background-color: #fdf7f7;
    font-family: Arial, Helvetica, sans-serif
}

.nav-bar {
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px 1px #ccc;
    background-color: white
}

.header-content {
    width: 12%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.logout-nav {
    width: 20%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logout-nav a {
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer
}

.logout-a-nav {
    color: #ff5064
}

.container {
    width: 100%;
    height: 543px;
    display: flex;
    align-items: center;
    justify-content: center
}