body {
	width: 100%;
	height: 500px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fdf7f7;
}

nav {
    width: 100%;
    height: 64px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: white;
    position: fixed
}

.container {
	width: 100%;
	height: 580px;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 65%;
	background-color: white;
	border-radius: 8px;
	height: 170px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
}

input {
	width: 20%;
	height: 27px;
	border-radius: 4px;
	outline: none
}

.button {
	background-color: #ff5063;
	color: white;
	letter-spacing: 1px;
	height: 37px;
	width: 15%;
	border: none
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: #ff5063 radial-gradient(circle, transparent 1%, #ff5063 1%) center/15000%;
}

.ripple:active {
    background-color: white;
    background-size: 100%;
    transition: background 0s;
}
